<%- include('components/header.ejs') %>

<h1>welcome to home page</h1>
<label>list of products</label>

<ul>

    <% products.forEach(product => { %>
        <li><%= product.label %></li>
    <% }) %>
    

</ul>


<%- include('components/footer.ejs') %>