.maindiv{
    background-color: #101319;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    height: 95px;

}

.mainlogo{
    width: 100px;
    margin-left: 10px;
}

.deliverylogo{
    color: white;
    font-size: 30px;

}

.deliveryadderess{
    display: flex;
    margin-left: 10px;
}

.addressfetch{
    color: white;
}

.searchbar{
    display: flex;
    height: 25px;
    margin-left: 10px;
    width: 80%;
}

.searchbar1{
    width: 95%;
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px; /* smaller value = less rounded */
}

.accounts{
    color: white;
    display: flex;
}

.dropdownarrow{
    margin-top: 20px;
    font-size: 20px;
}

.carticon{
    color: white;
    font-size: 50px;
    margin-right: 10px;
}

.searchIcon{
    color: black;
    font-size: 25px;
    position: relative;
    left: -30px;
    top: 3px;
}

.cartItemNumber{
    color: white;
}





@media only screen and (min-width: 300px) and (max-width: 600px){
    .deliveryadderess{
        display: none;
    }

    .mainlogo{
        width: 70px;
    }

    .maindiv{
        height: 75px;
    }
}